<html>
<head>
    <title>MyServlet Admin</title>
    <meta name="decorator" content="atl.general">
    <meta name="admin.active.section" content="my_new_section/my_new_menu_item"/>
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <h1>Hue Configuration</h1>
    </div>
</header>

<form action="#" method="post" id="h" class="aui unsectioned">
    <p><em>Please set up your HUE-Host:</em></p>
    <div class="field-group">
        <label for="h-fname">Hostname<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input class="text" type="text" id="hue_host" name="hue_host" title="hostname">
    </div>
    <div class="field-group">
        <label for="h-fname">Port<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input class="text" type="text" id="hue_port" name="hue_port" title="port" value="80">
    </div>
    <div class="field-group">
        <label for="h-fname">API-User<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input class="text" type="text" id="hue_api_user" name="hue_api_user" title="apiuser">
    </div>
    <div class="field-group">
        <label for="h-fname">Bulp-ID(s)<span class="aui-icon icon-required"></span><span class="content"> required</span></label>
        <input class="text" type="text" id="hue_bulp_id" name="hue_bulp_id" title="bulp ids">
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="Save" id="h-save-btn1">
            <a class="cancel" href="http://example.com/">Cancel</a>
        </div>
    </div>
</form>

</body>
</html>